@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeue-Regular.ttf);
}

.portada{
    background-image:
        linear-gradient(
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),url("../assets/banner.jpg");

    background-position: center;
    background-size: cover;

}

.altura{
    min-height: 40vh;
}

.icono{
    font-size: 10rem;
}

.marca{
    font-family: "BebasNeue";
}

@keyframes parpadeo {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.icono-parpadeo {
    animation: parpadeo 1.5s infinite;
}

.poneraltura{
    min-height: 80vh;
}

.poneraltura2{
    min-height: 80vh;
}



@media (max-width: 767.98px) {
    .altura {
        min-height: 60vh;
    }
    .poneraltura{
    min-height: 40vh;
    }
    .poneraltura2{
    min-height: none;
}


}


